/*RESET CSS*/
*{
    padding: 0;
    margin: 0;
}

ul,ol { list-style:none }

a {
    text-decoration: none;
}
@font-face {
    font-family: 'AvenirNextRegular';
    src: url(../fonts/AvenirNext-Regular.ttf);
}

@font-face {
    font-family: 'AvenirNextUltraLight';
    src: url('../fonts/AvenirNext-UltraLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AvenirNext-UltraLight.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'AvenirNextBold';
    src: url(../fonts/AvenirNext-Bold.ttf);
}
@font-face {
    font-family: 'ChampagneLimousines';
    src: url(../fonts/Champagne&Limousines.ttf);
}

@font-face {
    font-family: 'AvenirNextMedium';
    src: url('../fonts/AvenirNext-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AvenirNext-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
.wrapper{
    margin: 0 auto;
    max-width: 1600px;
    min-width: 1215px;
}
.wrapper:after {
    content: "&nbsp;";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}


header{
    background-color: #71b36b;
    height: 810px;
}
.logo{
    position: relative;
    max-width: 862px;
    min-width: 565px;
    width: 53%;
    float: left;
    height: 100%;
}
.logo .main_logo{
    position: absolute;
    width: 565px;
    top: 50%;
    left: 50%;
    margin-left: -282px;
    margin-top: -149px;
}
.main_logo div{
    float: left;
    background: url("../img/logo-search.svg") no-repeat center;
    height: 297px;
    width: 57.34513274%;
}
.main_logo div:last-child{
    float: right;
    background-image: url("../img/logo.svg");
    width: 40%;
}
.over_logo{
    height: 38px;
}
.pin{
    width: 0;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 27px 13.5px 0 13.5px;
    border-color: #f7941d transparent transparent transparent;
}
.over_logo .pin{
    margin-left: 480px;
}
.hidden-calendar, .close_calendar, .hidden-menu-ticker {
    display: none;
}
.calendar   {
    float: left;
    background-color: #555555;
    width: 47%;
    height: 437px;
}
.calendar .today{
    float: left;
    width: 51.1%;
    border-top: 5px solid #f7941d;

}
.calendar .today>div{
    width: 82.5%;
    margin: 50px auto 0;
    color: #fefefe;
    font-family: 'AvenirNextUltraLight', sans-serif;
}
.letter{
    font-size: 17.5pt;
    text-transform: uppercase;
    font-family: AvenirNextRegular, sans-serif;
}
.current_date{
    width: 100%;
    height: 284px;
    border: 1px solid #fefefe;
}
.current_date>div{
    font-size: 170.01pt;
    text-align: center;
    line-height: 100%;
    font-family: 'AvenirNextUltraLight', sans-serif;
}
.current_date>div:last-child{
    font-size: 36.32pt;
    text-transform: uppercase;
    font-family: 'AvenirNextBold', sans-serif;
}

.calendar .month{
    float: right;
    width: 48.9%;
}

.datepicker{
    margin: 125px auto 0 auto;
    width: 280px;
    border-collapse: collapse;
}
.datepicker-caption{
    text-transform: uppercase;
    color: #fdfdfd;
}
.datepicker-caption>a{
    display: inline-block;
    float: left;
    margin-left: 15px;
    text-transform: uppercase;
    color: #fdfdfd;
    font-size: 20px;
    padding-bottom: 20px;
}
.datepicker-caption>a:last-child{
    float: right;
    margin-right: 20px;
}
.datepicker-td a{
    color: #7cc576;
    font-family: AvenirNextRegular, sans-serif;
}
.not_this_month a{
    color: #929292;
}
.datepicker-td{
    display: inline-block;
    text-align: center;
    width: 20px;
    margin: 6px;
    border: 2px solid #555555;
}
@media all and (-webkit-min-device-pixel-ratio:0) { .datepicker-td {
    margin-right: 10px;
    margin-bottom: 6px;
} }
.datepicker-td+.active{
    border: 2px solid #f7941d;
}

.search{
    background-color: #f7941d;
    float: right;
    width: 24%;
    height: 373px;
    position:relative;
}
.form-search{
    width: 82.5%;
    margin: 0 auto;
    padding-top: 25px;
}
.new-select-style select {
    border-radius: 0;
    background: transparent;
    padding-left: 23.6385508%;
    padding-top: 10px;
    border: 0;
    -webkit-appearance: none;
    width: 113%;
    font: 14pt ChampagneLimousines;
    color: #52310a;
    cursor: pointer;
}
.new-select-style {
    border: 1px solid #52310a;
    overflow: hidden;
    height: 48px;
    background: url(../img/arrow-search.png) no-repeat left;
    width: 100%;
    margin-bottom: 6px;
}
.checkbox input[type=checkbox] {
    display: none;
}

.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
}
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 3px;
    border: 1px solid #242424;
}
.checkbox input[type=checkbox]:checked + label:before {
    content: "\2022";
    color: #71b36b;
    font-size: 24px;
    text-align: center;
    line-height: 12px;
}
.checkbox span{
    font: 12pt ChampagneLimousines;
}
.login{
    position: relative;
    float: right;
    background: center url('../img/small_logo.png') no-repeat;
    width: 23%;
    height: 373px;
    font-family: 'AvenirNextMedium', sans-serif;
    font-size: 12pt;
}
.login label{
    cursor: pointer;
}
.login p{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -98px;
    margin-top: -75px;
    color: #ffffff;
}
/*.login_form_overlay, .hidden-login-form {*/
    /*display: none;*/
/*}*/
.login_form_wrapper{
    position: fixed;
    margin-left: -3000px;
    margin-top: -238px;
    top: 50%;
    left: 50%;
}
#hidden_register_form:checked ~ .login_form_wrapper{
    margin-left: -11.34%;
    width: 22.6875%;
    background-color: #71b36b;
    z-index: 50;
    background-image: url('../img/small_logo.png');
    background-repeat: no-repeat;
    background-size: auto 52px;
    background-position: 50% 82px;
    transition: left .3s;
}
.login_form_wrapper p{
    position: static;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    margin-top: 163px;
}
.login_form_wrapper input:not([type="submit"]){
    border: 1px solid #eef6ee;
    overflow: hidden;
    height: 48px;
    width: calc(96.2% - 2px);
    margin-bottom: 3px;
    text-align: left;
    padding-left: 3.8%;
    background-color: #71b36b;
    color: #fefefe;
    font: 14pt AvenirNextRegular;
}
.register_form, .login_form{
    width: 95.31680441%;
    margin: 8px auto;
    border: 1px solid #eef6ee;
}
.wrapper_login_fields{
    width: 91.6%;
    margin: 27px auto 0;
}
.login_form_wrapper .button_register{
    position: static;
    background-color: #f7941d;
    width: 100%;
    height: 49px;
    margin: 21px 0 71px 0;
    font-size: 12pt;
}
.map{
    background-image: url("../img/map.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 562px;
}
.main{
    width: 86.9375%;
    float: left;
    height: 100%;
    margin: 0 6.4375%;
    border-right: 4px solid  #71b36b;
}
.main_wrapper{
    width: 82%;
}
.main_wrapper .date{
    margin-top: 140px;
    font: 16pt AvenirNextRegular;
    line-height: 16pt;
    float: left;
}
.main_wrapper .date span{
    margin: 0 12px 0 12px;
}
.arrow{
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 4px;
    width: 0;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 10.5px 0 10.5px 10px;
    border-color: transparent transparent transparent #71b36b;
}
.prev{
    border-width: 10.5px 10px 10.5px 0;
    border-color: transparent #71b36b transparent transparent;
}
.subscriber{
    float: right;
    width: 33.5%;%;
    height: 170px;
    background-color: #f7941d;
    text-align: center;
    padding-top: 25px;
    position:relative;
}
.subscriber p{
    font:15pt AvenirNextRegular;
}
.subscriber_teg {
    display: inline-block;
    font:13pt AvenirNextRegular;
    font-weight: bold;
    color: #83af61;
    line-height: 28px;
    height: 28px;
    width: 103px;
    border: 1px solid #83af61;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    text-align: center;
    margin: 10px 0;
}
.button{
    position: absolute;
    bottom: 34px;
    display: block;
    text-decoration:none;
    text-align:center;
    border:none;
    font:16pt AvenirNextRegular;
    font-weight:bold;
    line-height: 220%;
    color:#333333;
    background:#71b36b;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 8.75%;
    height: 50px;
    width: 82.5%;
}
.search .button{
    bottom: 25px;
    margin-left: 0;
}
article{
    float: left;
    width: 100%;
    width: -webkit-calc(100% - 1px);
    width: calc(100% - 2px);
    height: 140px;
    border: 1px solid #242424;
    font: 14pt AvenirNextRegular;
}
article a{
    color: #333333;
    font-size: 18pt;
}
.articles{
    width: 100%;
    float: left;
    margin-right: 1px;
}
.close_article{
    display: block;
    float: right;
    width: 17px;
    height: 19px;
    margin: 15px 16px 0 0;
    background: url(../img/close_article.png) no-repeat right;
}
.articles .location{
    margin: 40px 0 0 0;
    color: #71b36b;
}
.article_time{
    float: left;
    height: 100%;
    width: 220px;
    text-align: center;
    padding-top: 70px;
}
.load_more{
    float: right;
    background-color: #f7941d;
    width: 33.5%;%;
    height: 101px;
    text-align: center;
    font: 14pt AvenirNextRegular;
    text-transform: uppercase;
}
.load_more a{
    line-height: 101px;
    cursor: pointer;
    display: block;
    height: 100%;
    color: #030303;
}
footer{
    background-color: #252525;
    width: 100%;
    height: 358px;
    float: left;
    font: 11pt AvenirNextRegular;
    text-decoration: none;
}
.footer_left{
    float: left;
    padding: 130px 0 0 6.2%;
}
footer a{
    color: #bfbcbc;
    display: block;
}
footer a:last-child{
    margin-top: 140px;
}
.small_logo{
    float: right;
    width: 24%;
    height: 353px;
    margin-right: 23%;
    border-bottom: 5px solid #f7941d;
    background: center url('../img/small_logo.png') no-repeat;
}

.login_form{
    position: fixed;
    box-sizing: border-box;
    top: 140px;
    width: 80%;
    margin-left: -80%;
    z-index: 104;
    transition: left .3s;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 760px) {
    .wrapper {
        max-width: 760px;
        min-width: 580px;
    }
    /*.map{*/
        /*display: none;*/
    /*}*/
    header{
        height: 1120px;
    }
    .logo{
        width: 100%;
        height: 310px;
    }
    .calendar{
        width: 100%;
    }
    .login{
        width: 50%;
        float: left;
    }
    .search{
        width: 50%;
        float: left;
    }
    .login{
        float: right;
    }
    .main {
        width: 100%;
        margin: 0;
        border: 0;
    }
    .main_wrapper{
        width: 100%;
        min-width: 580px;
    }
    .load_more, .subscriber{
        width: 50%;
    }
    .small_logo{
        width: 50%;
        margin: 0;
    }
    .footer_left{
        padding: 130px 0 0 2%;
        width: 48%;
    }
}
@media only screen and (max-width: 1215px) and (min-width: 761px) {
    .wrapper {
        max-width: 1215px;
        min-width: 761px;
    }
    /*.map{*/
        /*display: none;*/
    /*}*/
    header{
        height: 840px;
    }
    .calendar{
        height: 650px;
        width: 32%;
    }
    .logo{
        width: 68%;
        height: 650px;
    }
    .calendar .month{
        float: left;
    }
    .calendar .today, .calendar .month{
        width: 100%;
        height: 325px;
    }
    .calendar .today > div{
        margin-top: 10px;
    }
    .current_date > div{
        font-size: 160pt;
    }
    .current_date{
        height: 282px;
    }
    .datepicker{
        margin-top: 25px;
    }
    .search{
        text-align: center;
        float: left;
        width: 68%;
        height: 190px;
    }
    .login{
        width: 32%;
        height: 190px;
        background-color: #71b36b;
    }
    .form-search{
        width: 95%;
    }
    .new-select-style{
        display: inline-block;
        width: 24%;
    }
    .search .button{
        display: block;
        width: 24%;
        min-width: 158px;
        margin: 0 38%;
    }
    .checkbox label{
        display: block;
        margin-left: 40%;
        width: 140px;
    }
    .main_wrapper{
        width: 100%;
    }
    .main {
        width: 90%;
        margin: 0 5%;
        border: 0;
    }
    .subscriber, .load_more{
        width: 30%;
    }
    .small_logo{
        margin-right: 5%;
        width: 27%;
    }
}
@media only screen and (max-width: 872px) and (min-width: 761px) {
    .main_logo div{
        background-size: 95%;
        -o-background-size: 90%;
    }
    .logo .main_logo{
        width: 450px;
        height: 282.15px;
        margin-left: -225px;
        margin-top: -141.075px;
    }
    .calendar, .login{
        width: 36%;
    }
    .logo, .search{
        width: 64%;
        min-width: 0;
    }
    .new-select-style{
        width: 23%;
    }
    .form-search{
        width: 100%;
    }
    .checkbox label{
        margin-left: 38%;
    }
    .subscriber, .load_more{
        width: 34.5%;
    }
    .small_logo{
        width: 31%;
    }
}
/*For mobiles*/
@media only screen and (max-width: 400px){
    .map, .logo, .today{
        display: none;
    }
    header, .main, footer{
        width: 400px;
    }
    .wrapper{
        min-width: 0px;
    }
    header{
        height: 140px;
        position: relative;
    }
    .login{
        height: 100%;
    }
    .login p{
        width: 50px;
        margin-top: -22px;
        margin-left: -160px;
    }
    .main_wrapper{
        min-width: 0;
    }
    article{
        font-size: 11pt;
    }
    .article_time{
        width: 20%;
    }
    article a{
        font-size: 12pt;
    }

    footer a:last-child{
        margin-top: 119px;
    }
    .subscriber, .main_wrapper .date, .load_more{
        width: 100%;
    }
    .main_wrapper .date{
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    .main_wrapper .date span{
        cursor: pointer;
    }

    .calendar{
        position: fixed;
        top: 18%;
        left: 50%;
        margin-left: -600px;
        width: 80%;
        height: 292px;
        z-index: 102;
    }
    .hidden-calendar:checked ~ .calendar{
        margin-left: -160px;
    }
    .calendar .month{
        display: block;
        width: 100%;
    }
    .datepicker{
        margin: 10px auto;
    }

    .hidden-calendar:checked ~ .calendar_overlay{
        position: fixed;
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        z-index: 101;
        background-color: black;
    }
    .close_calendar{
        line-height: 100%;
        display: block;
        position: absolute;
        top: -24px;
        left: 320px;
        z-index: 200;
        padding: 3px;
        color: #fefefe;
        cursor: pointer;
    }
    .hidden-menu {
        display: block;
        position: fixed;
        list-style:none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 82%;
        background-color: #71b36b;
        height: 100%;
        top: 0;
        left: -82%;
        z-index: 101;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        border-right: 1px solid black;
    }
    .search{
        position: fixed;
        box-sizing: border-box;
        top: 140px;
        width: 80%;
        margin-left: -80%;
        z-index: 104;
        transition: left .3s;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .btn-menu {
        color: #fff;
        padding: 5px;
        position: absolute;
        top: 35px;
        left: 5px;
        cursor: pointer;
        transition: left .23s;
        z-index: 100;
        width: 20%;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .btn-menu span {
        display: block;
        height: 10px;
        background-color: #fff;
        margin: 10px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }
    .btn-menu span.first {
        margin-top: 0;
    }
    .hidden-menu-ticker:checked ~ .btn-menu {
        /*top: 5px;*/
        position: fixed;
        left: 58%;
        z-index: 105;
    }
    .hidden-menu-ticker:checked ~ .hidden-menu {
        left: 0;
    }
    .hidden-menu-ticker:checked ~ .search {
        margin-left: 1%;
    }
    .hidden-menu-ticker:checked ~ .btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 10px;
    }
    .hidden-menu-ticker:checked ~ .btn-menu span.second {
        opacity: 0;
    }
    .hidden-menu-ticker:checked ~ .btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -10px;
    }
}

