<h1 style="text-align: center; margin-top:10%;">Sing in</h1>
<section>
    <div style="width:172px; height:200px; margin: auto">
        <div>
            <label>Email: </label>
            <br>
            <input type="email" ng-model="login">
        </div>
        <br>
        <div>
            <label>Password: </label>
            <br>
            <input type="password" ng-model="pass">
        </div>
        <br>
        <div>
            <button ng-click="loggedIn()" style='float:right'>Login</button>
            <button ng-click="register()" style='float:right'>register</button>
            <button ng-click="logout()" style='float:right'>logout</button>
        </div>
    </div>
</section>